# Ignore all macOS temporary files
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp

# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.svg

# Ignore all PDF files
*.pdf
