<!-- header for all pages -->
<header>
	<div class="header-container">
		<!-- to home page -->
		<a href="{{ site.baseurl }}/">
			<img src="{{ '/assets/img/RPUFOS_Logo-512.png' | relative_url }}" alt="Logo" class="logo">
		</a>
		<!-- take the name -->
		<h1>{{ site.title }}<br />EXL100, Exeltel</h1>
	</div>
	<p style="text-align:center;"><i>The Cursed Computers That Speaks</i></p>
	<hr />
	{% include nav.html %}
	<hr />
	<img src="{{ '/assets/img/UnderConstruction.png' | relative_url }}" alt="Logo" class="logo" style="margin:auto;">
	<hr />
</header>
