/*




*/

/* ---------------------------------------- */
/* GENERAL CSS */
/* ---------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---------------------------------------- */
/* BODY */
/* ---------------------------------------- */
body {

}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */
header {

}

header h1 {

}



header h1 a {
	text-decoration: none;
}

nav a {
	text-decoration: none;
}

.header-container {
	
}


/* ---------------------------------------- */
/* MAIN CONTENT */
/* ---------------------------------------- */
main {
	margin-bottom: 1em;
}



/* ---------------------------------------- */
/* FOOTER */
/* ---------------------------------------- */
footer {
	border-top: 1px solid #eee;
	padding-top: 1em;
	font-size: small;
	text-align: center;
	margin: auto;
}


/* -----[EOF]------------------------------ */